.container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container button {
    width: 174px;
    height: 49px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background: linear-gradient(to right, var(--secondary-color) 50%, var(--main-color) 50%) 100% 0px / 200% 100%;
    color: var(--white-color);
    text-transform: uppercase;
}